{{#task-form task=model}}
    <div class="input-group">
      {{input type="text" value=model.choices placeholder='Choose.'}}
      <span class="input-group-btn">
        <button {{action 'submit'}}>Submit!</button>
      </span>
    </div>
    {{#each validChoices as |choice|}}
        {{input type="checkbox"}} {{ choice.validTransition.name }}
    {{/each}}
{{/task-form}}
