<h2>{{task.taskNode.nodeDef.processDef.name}}</h2>
<div class="row">
  <div class="task">
    <div class="panel panel-defaul">
      <div class="panel-body">
        <h3>{{task.taskNode.nodeDef.name}}</h3>

        {{yield}}
      </div>
    </div>
  </div>
</div>