<div class="container" role="main">
  <h1>PorpoiseFIRE</h1>

  {{#if useAnimations}}
    {{liquid-outlet}}
  {{else}}
    {{outlet}}
  {{/if}}

  <p>Back to {{#link-to 'process-defs'}}process list{{/link-to}}</p>

  {{#if session.isAuthenticated}}
    <p><a href="#" {{action 'logout'}}>Log out of PorpoiseFIRE</a></p>
  {{/if}}
</div>
