{{#task-form task=model}}
  <div class="input-group">
    {{input type="text" value=model.text placeholder='Log this!'}}
    <span class="input-group-btn">
      <button {{action 'submit'}}>Submit!</button>
    </span>
  </div>
{{/task-form}}
