{% extends "demo.html" %}

{% block navbar %}
  <ul class="nav navbar-nav">
    {% for cnum in client_nums %}
      <li {% if cnum|stringformat:"d" == client_num %}class="active"{% endif %}>
        <a href='/client/{{ cnum }}/{{ process_id }}'>Client {{ cnum }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block jumbotron %}
  <h1>Client {{ client_num }}</h1> 
  <p>
    {% if is_client1 %}
      Client 1 represents the primary actor on a workflow, such as a
      job-seeker working through a job application.
    {% endif %}
    {% if is_client2 %}
      Client {{ client_num }} represents a secondary actor on a workflow
      who may be needed
      to complete some tasks on behalf of the primary actor, such as
      a recruiter performing an interview, the system performing some
      calculation, or a third party vendor completing a verification.
    {% endif %}
  </p>
{% endblock %}

{% block page-header %}
  <h1 id='workflow'></h1>
  <h2 id='info'></h2>
{% endblock %}
{% block well %}
  <span id="prompt"></span>
  <p><input id="input" class="form-control input-sm" type="text"></p>
  <button id="button" class="btn btn-sm btn-default" type=button>
    Submit
  </button>
{% endblock %}
