<div class="well">
  <div class="process-defs">
    {{#if defaultUser}}
      {{#each model as |def|}}
        {{process-link processDef=def user=defaultUser}}
      {{/each}}
    {{/if}}
  </div>
</div>
